{{#if auth}} 

<div class="container col-5">
<h2>O Nome do Produto é: {{user.nameP}} <br> e o Fornecedor é: {{user.nameF}} <br> na data: {{user.dataComp}} <br> e o valor de compra {{user.compra}} reais <br> e o valor de venda {{user.venda}} reais</h2>
</div>
<div class="container col-4">
<a href="/" class="btn btn-primary">Home</a>
<a href="/users/add" class="btn btn-secondary">Novo Cadastro</a>
</div>

 {{/if}}

